header{
	background: #bbbbbb;
	padding: 20px 0;

}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display: inline;

}

nav a{
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px;
	margin: 10px;
}

nav a:hover{
	color: #c78c19;
	text-decoration: underline;
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: #000000 3px solid;
	border-radius: 10px;
}

.produtos li:hover{
	border: #c78c19 3px solid;
}

.produtos li:hover h2{
	font-size: 34px;
}

.produtos li:hover .produto-descrisao{
	font-size: 24px;
}

.produtos li:active{
	border: #088c19 3px solid;
}


.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produto-descrisao{
	font-size: 18px;
}

.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin:10px 0 0 ;
}

footer{
	background: url("./produtos/bg.jpg");
	text-align: center;
	padding: 40px 0;
}

.copyright{
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0;
}